
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <div>
    <h1>Sign up</h1>
    <form method="POST" action='/signup'>
      <span>Username: <input type="text" name="username"/></span>
      <span>Password: <input type="password" name="password"/></span>
      <span>Repeat Password: <input type="password" name="RepeatPassword"/></span>
      <button type="submit">Click here to sign in</button>
    </form>
  </div>
  <div>
    <button><a href="/login">Click here to log in instead</a><button>
  </div>
</body>


</html>
